@import '~bootstrap/scss/bootstrap';

header {
    background: repeating-linear-gradient(
      45deg, black, black 50px, gold 50px, gold 100px
    );
    text-align: center;
  }

h1,h2 { 
  color: red;
  text-shadow: 0 0 3px gold;
  margin: 0;
}
h1 {
  font-size: 4em;
}
img{
  max-width: 60px;
  max-height: 60px;
}
td{
  min-width: 150px;
}
tr:nth-child(odd){
  background-color: burlywood;
}

.startUp {
  opacity: 0;
}